accelerate==1.7.0
bitsandbytes==0.46.0
clip-interrogator==0.6.0
datasets==3.6.0
diffusers==0.33.1
ftfy==6.3.1
hf-xet==1.1.8
huggingface-hub==0.36.2
spaces
tensorboard==2.19.0
torch==2.8.0
torchvision==0.23.0
transformers==4.57.6